<div id = "product_list">
	<h1>Listado de productos </h1>
	<table>
		<% @productos.each do |producto| %>
			<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
				<td>
					<%= image_tag(producto.imagen_url,:class => 'list_image')%>
				</td>
				
				<td class="list_description">
					<dl>
						<dt><%= producto.titulo %></dt>
						<dd><%= truncate(strip_tags(producto.descripcion),
								:length => 80)%></dd>
						<dd><%= producto.precio_mercado%> </dd>
					</dl>
				</td>
				
				<td class="list_actions">
					<%= link_to 'Ver', producto %></br>
					<%= link_to 'Editar', edit_producto_path(producto) %></br>
					<%= link_to 'Eliminar', producto,
								:confirm => 'Estas seguro',
								:method => :delete %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

</br>

<%= link_to 'Nuevo Producto', new_producto_path %>
	
